{
  "openapi": "3.0.1",
  "info": {
    "title": "Club Customer",
    "description": "Farazpardazan Company",
    "contact": {
      "name": "Eng H.Haeri",
      "email": "HamedHaeri.dev@gmail.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://ccd.farazpardazan.com",
      "description": "HTTPS Server"
    },
    {
      "url": "http://localhost:8086",
      "description": "HTTPS Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/rules-engine/score-types/{id}": {
      "get": {
        "tags": [
          "rule-engine-re-score-type-controller"
        ],
        "operationId": "getReScoreTypeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreTypeOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "rule-engine-re-score-type-controller"
        ],
        "operationId": "updateReScoreType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreTypeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreTypeOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "rule-engine-re-score-type-controller"
        ],
        "operationId": "deleteReScoreType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/rules-engine/rule-configs/{id}": {
      "get": {
        "tags": [
          "rule-engine-re-rule-config-controller"
        ],
        "operationId": "getRuleConfigById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RuleConfig"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "rule-engine-re-rule-config-controller"
        ],
        "operationId": "updateRuleConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleConfigRequestUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RuleConfigOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "rule-engine-re-rule-config-controller"
        ],
        "operationId": "deleteRuleConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/member/profile/details": {
      "get": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "getProfileDetails",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileDetailsOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "updateProfileDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileDetailsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileDetailsOutput"
                }
              }
            }
          }
        }
      }
    },
    "/admin/voting/{id}": {
      "get": {
        "tags": [
          "admin-voting-controller"
        ],
        "operationId": "getVoting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VotingOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-voting-controller"
        ],
        "operationId": "updateVotingState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VotingOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-voting-controller"
        ],
        "operationId": "deleteVoting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/version-note/{id}": {
      "get": {
        "tags": [
          "admin-version-note-controller"
        ],
        "operationId": "findVersionNoteById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VersionNoteOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-version-note-controller"
        ],
        "operationId": "findVersionNoteById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionNoteInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VersionNoteOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-version-note-controller"
        ],
        "operationId": "deleteVersionNoteById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/user-settings/{id}/change-password": {
      "put": {
        "tags": [
          "admin-user-setting-controller"
        ],
        "operationId": "changeUserPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminChangeUserPasswordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/user-settings/{id}/change-info": {
      "put": {
        "tags": [
          "admin-user-setting-controller"
        ],
        "operationId": "changeUserInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileDetailsInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/spend-score-bank-article/{id}": {
      "get": {
        "tags": [
          "admin-spend-score-bank-article"
        ],
        "operationId": "findSpendScoreBankArticleById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SpendScoreBankArticleOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-spend-score-bank-article"
        ],
        "operationId": "updateSpendScoreBankArticleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpendScoreBankArticleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SpendScoreBankArticleOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-spend-score-bank-article"
        ],
        "operationId": "deleteSpendScoreBankArticleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/rule/offline/{id}": {
      "get": {
        "tags": [
          "admin-offline-rule-engine-controller"
        ],
        "operationId": "findById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RequestCalculateScoreResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-offline-rule-engine-controller"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCalculateScoreRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RequestCalculateScoreResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/admin/profile/favorite/questions/{id}": {
      "get": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "getQuestion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "updateQuestion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "deleteQuestion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/profile/communication": {
      "get": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "getCommunicationDetails_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "updateCommunicationDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunicationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommunicationOutput"
                }
              }
            }
          }
        }
      }
    },
    "/admin/profile/about-us/faq/{id}": {
      "get": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "getFaq",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FaqOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "updateFaq",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FaqInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FaqOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-profile-controller"
        ],
        "operationId": "deleteFaq",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/prize/{id}": {
      "get": {
        "tags": [
          "admin-prize-controller"
        ],
        "operationId": "findPrizeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrizeOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-prize-controller"
        ],
        "operationId": "updatePrizeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrizeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrizeOutput"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admin-prize-controller"
        ],
        "operationId": "addWinnerToPrize",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrizeOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-prize-controller"
        ],
        "operationId": "deletePrizeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/other-lottery/{id}": {
      "get": {
        "tags": [
          "admin-other-lottery-controller"
        ],
        "operationId": "findLotteryById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-other-lottery-controller"
        ],
        "operationId": "updateLotteryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LotteryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-other-lottery-controller"
        ],
        "operationId": "deleteLotteryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/online-center/{id}": {
      "get": {
        "tags": [
          "admin-online-center-controller"
        ],
        "operationId": "findOnlineCenterById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOnlineCenterOutput2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-online-center-controller"
        ],
        "operationId": "updateOnlineCenterById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineCenterInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOnlineCenterOutput2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-online-center-controller"
        ],
        "operationId": "deleteOnlineCenterById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/online-center-category/{id}": {
      "get": {
        "tags": [
          "admin-online-center-category-controller"
        ],
        "operationId": "findOnlineCenterCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineCenterCategoryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-online-center-category-controller"
        ],
        "operationId": "updateOnlineCenterCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineCenterCategoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineCenterCategoryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-online-center-category-controller"
        ],
        "operationId": "deleteOnlineCenterCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/missions/{id}": {
      "get": {
        "tags": [
          "admin-mission-controller"
        ],
        "operationId": "findById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MissionOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-mission-controller"
        ],
        "operationId": "updateMission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MissionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MissionOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-mission-controller"
        ],
        "operationId": "deleteById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/lottery/{id}": {
      "get": {
        "tags": [
          "admin-lottery-controller"
        ],
        "operationId": "findLotteryById_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-lottery-controller"
        ],
        "operationId": "updateLotteryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LotteryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-lottery-controller"
        ],
        "operationId": "deleteLotteryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-mall-shop/{id}": {
      "get": {
        "tags": [
          "admin-iran-mall-shop-controller"
        ],
        "operationId": "findIranMallShopById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallShopOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-mall-shop-controller"
        ],
        "operationId": "updateIranMallShopById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranMallShopInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallShopOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-mall-shop-controller"
        ],
        "operationId": "deleteIranMallShopById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-mall-shop-category/{id}": {
      "get": {
        "tags": [
          "admin-iran-mall-shop-category-controller"
        ],
        "operationId": "findIranMallShopCategoryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallShopCategoryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-mall-shop-category-controller"
        ],
        "operationId": "updateIranMallShopCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranMallShopCategoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallShopCategoryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-mall-shop-category-controller"
        ],
        "operationId": "deleteIranMallShopCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-mall-conference-hall/{id}": {
      "get": {
        "tags": [
          "admin-iran-mall-conference-hall-controller"
        ],
        "operationId": "findIranMallConferenceHallById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallConferenceHallOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-mall-conference-hall-controller"
        ],
        "operationId": "updateIranMallConferenceHall",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranMallConferenceHallInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallConferenceHallOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-mall-conference-hall-controller"
        ],
        "operationId": "deleteIranMallConferenceHall",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-mall-cinema/{id}": {
      "get": {
        "tags": [
          "admin-iran-mall-cinema-controller"
        ],
        "operationId": "findIranMallCinemaById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminIranMallCinemaOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-mall-cinema-controller"
        ],
        "operationId": "updateIranMallCinemaById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranMallCinemaInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminIranMallCinemaOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-mall-cinema-controller"
        ],
        "operationId": "deleteIranMallCinemaById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-cards/{id}": {
      "get": {
        "tags": [
          "admin-iran-cards-controller"
        ],
        "operationId": "getIranCardById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-cards-controller"
        ],
        "operationId": "updateIranCard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranCardRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/admin/iran-card-feature/{id}": {
      "get": {
        "tags": [
          "admin-iran-card-feature-controller"
        ],
        "operationId": "findIranCardFeatureById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardFeatureOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-card-feature-controller"
        ],
        "operationId": "updateIranCardFeatureById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranCardFeatureInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardFeatureOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-card-feature-controller"
        ],
        "operationId": "deleteIranCardFeatureById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/iran-card-category/{id}": {
      "get": {
        "tags": [
          "admin-iran-card-category-controller"
        ],
        "operationId": "findIranCardCategoryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardCategoryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-iran-card-category-controller"
        ],
        "operationId": "updateIranCardCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IranCardCategoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranCardCategoryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-iran-card-category-controller"
        ],
        "operationId": "deleteIranCardCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/internal-online-center/{id}": {
      "get": {
        "tags": [
          "admin-internal-online-center-controller"
        ],
        "operationId": "findOnlineCenterById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOnlineCenterOutput2"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-internal-online-center-controller"
        ],
        "operationId": "updateOnlineCenterById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineCenterInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminOnlineCenterOutput2"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-internal-online-center-controller"
        ],
        "operationId": "deleteOnlineCenterById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/insurance/{id}": {
      "get": {
        "tags": [
          "admin-insurance-controller"
        ],
        "operationId": "findInsuranceById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInsuranceOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-insurance-controller"
        ],
        "operationId": "updateOnlineCenterById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInsuranceOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-insurance-controller"
        ],
        "operationId": "deleteOnlineCenterById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/insurance-category/{id}": {
      "get": {
        "tags": [
          "admin-insurance-category-controller"
        ],
        "operationId": "findInsuranceCategoryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceCategoryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-insurance-category-controller"
        ],
        "operationId": "updateInsuranceCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceCategoryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceCategoryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-insurance-category-controller"
        ],
        "operationId": "deleteInsuranceCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/increase-score-bank-article/{id}": {
      "get": {
        "tags": [
          "admin-increase-score-bank-article-controller"
        ],
        "operationId": "findIncreaseScoreBankArticleById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncreaseScoreBankArticleOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-increase-score-bank-article-controller"
        ],
        "operationId": "updateIncreaseScoreBankArticleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncreaseScoreBankArticleInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncreaseScoreBankArticleOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-increase-score-bank-article-controller"
        ],
        "operationId": "deleteIncreaseScoreBankArticleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/customer-levels/{id}": {
      "get": {
        "tags": [
          "admin-customer-level-controller"
        ],
        "operationId": "findById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLevelResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-customer-level-controller"
        ],
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLevelRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLevelResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-customer-level-controller"
        ],
        "operationId": "deleteCustomerLevelById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/customer-levels-Indicator/{id}": {
      "get": {
        "tags": [
          "admin-customer-level-indicator-controller"
        ],
        "operationId": "findById_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLevelIndicatorResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-customer-level-indicator-controller"
        ],
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLevelIndicatorRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLevelIndicatorResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-customer-level-indicator-controller"
        ],
        "operationId": "deleteCustomerLevelIndicatorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/customer-groups/{id}": {
      "get": {
        "tags": [
          "admin-customer-group-controller"
        ],
        "operationId": "findById_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-customer-group-controller"
        ],
        "operationId": "update_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/admin/charity/{id}": {
      "get": {
        "tags": [
          "admin-charity-controller"
        ],
        "operationId": "findCharityById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CharityOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-charity-controller"
        ],
        "operationId": "updateCharityById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CharityInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CharityOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-charity-controller"
        ],
        "operationId": "deleteCharityById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/champions-league/lucky-wheel/{id}": {
      "get": {
        "tags": [
          "admin-champions-league-lucky-wheel-controller"
        ],
        "operationId": "findChampionsLeagueLuckyWheelOutputById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminChampionsLeagueLuckyWheelOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-champions-league-lucky-wheel-controller"
        ],
        "operationId": "updateChampionsLeagueLuckyWheelOutputById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChampionsLeagueLuckyWheelInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminChampionsLeagueLuckyWheelOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-champions-league-lucky-wheel-controller"
        ],
        "operationId": "deleteChampionsLeagueLuckyWheelOutput",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/champions-league/lucky-wheel-item/{id}": {
      "get": {
        "tags": [
          "admin-champions-league-lucky-wheel-item-controller"
        ],
        "operationId": "findChampionsLeagueLuckyWheelItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminChampionsLeagueLuckyWheelItemOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-champions-league-lucky-wheel-item-controller"
        ],
        "operationId": "updateChampionsLeagueLuckyWheelItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChampionsLeagueLuckyWheelItemInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminChampionsLeagueLuckyWheelItemOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-champions-league-lucky-wheel-item-controller"
        ],
        "operationId": "deleteChampionsLeagueLuckyWheelItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/champions-league/lottery/{id}": {
      "get": {
        "tags": [
          "admin-champions-league-lottery-controller"
        ],
        "operationId": "findLotteryById_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-champions-league-lottery-controller"
        ],
        "operationId": "updateLotteryById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LotteryInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-champions-league-lottery-controller"
        ],
        "operationId": "deleteLotteryById_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/champions-league/badge-detail": {
      "get": {
        "tags": [
          "admin-champions-league-badge-description-controller"
        ],
        "operationId": "getBadgeDescription",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChampionsLeagueBadgeDescriptionOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-champions-league-badge-description-controller"
        ],
        "operationId": "updateBadgeDescription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChampionsLeagueBadgeDescriptionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChampionsLeagueBadgeDescriptionOutput"
                }
              }
            }
          }
        }
      }
    },
    "/admin/banner/{id}": {
      "get": {
        "tags": [
          "admin-banner-controller"
        ],
        "operationId": "findBannerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BannerOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-banner-controller"
        ],
        "operationId": "updateBannerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BannerInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BannerOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-banner-controller"
        ],
        "operationId": "deleteBannerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/api/user-branch/{userBranchId}/level": {
      "put": {
        "tags": [
          "user-branch-controller"
        ],
        "operationId": "updateUserLevel",
        "parameters": [
          {
            "name": "userBranchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userLevel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ADMIN",
                "MANAGER",
                "EMPLOYEE",
                "CUSTOMER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserBranchOutput"
                }
              }
            }
          }
        }
      }
    },
    "/admin/admin-management/{id}": {
      "get": {
        "tags": [
          "admin-management-controller"
        ],
        "operationId": "findAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserOutput"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-management-controller"
        ],
        "operationId": "updateAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserOutput"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-management-controller"
        ],
        "operationId": "deleteAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/admin-management/{id}/change-password": {
      "put": {
        "tags": [
          "admin-management-controller"
        ],
        "operationId": "changePassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminChangePasswordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user-information": {
      "post": {
        "tags": [
          "user-information-controller"
        ],
        "operationId": "getUserInformation",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserInformationOutput"
                }
              }
            }
          }
        }
      }
    },
    "/rules-engine/score-types": {
      "get": {
        "tags": [
          "rule-engine-re-score-type-controller"
        ],
        "operationId": "getAllReScoreTypes",
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countRuleConfig",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageReScoreType"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "rule-engine-re-score-type-controller"
        ],
        "operationId": "createReScoreType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreTypeInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreTypeOutput"
                }
              }
            }
          }
        }
      }
    },
    "/rules-engine/rule-configs": {
      "get": {
        "tags": [
          "rule-engine-re-rule-config-controller"
        ],
        "operationId": "getAllRuleConfigs",
        "parameters": [
          {
            "name": "customerLevelId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "unitMeasure",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageRuleConfigOutput"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "rule-engine-re-rule-config-controller"
        ],
        "operationId": "createRuleConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleConfigInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RuleConfigOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/voting": {
      "get": {
        "tags": [
          "member-voting-controller"
        ],
        "operationId": "getActiveVotings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VotingAnswerDetailOutput"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "member-voting-controller"
        ],
        "operationId": "updateAnswer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/VotingAnswerInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VotingAnswerOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/profile/gift/{id}/transfer": {
      "post": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "transferGift",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GiftToFriendBillOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/profile/gift/check": {
      "post": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "checkGift",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GiftToFriendInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GiftToFriendOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/profile/favorite/answer": {
      "post": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "updateAnswer_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/QuestionAnswerInput"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuestionAnswerOutput"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/member/profile/change-password": {
      "post": {
        "tags": [
          "member-profile-controller"
        ],
        "operationId": "changePassword_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/online-center/{id}/{internal}/purchase": {
      "post": {
        "tags": [
          "member-online-center-controller"
        ],
        "summary": "خرید کد تخفیف آنلاین سنتر مربوطه",
        "operationId": "purchaseTicket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "internal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineCenterTicketPurchaseOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/online-center/{id}/{internal}/comment": {
      "post": {
        "tags": [
          "member-online-center-controller"
        ],
        "summary": "کامنت گذاشتن برای آنلاین سنتر مربوطه",
        "operationId": "leftComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "internal",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/notification/{id}": {
      "get": {
        "tags": [
          "member-notification-controller"
        ],
        "operationId": "findNotificationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationOutput"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "member-notification-controller"
        ],
        "operationId": "seenNotification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "member-notification-controller"
        ],
        "operationId": "deleteNotificationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/missions/all-missions/{id}/participate": {
      "post": {
        "tags": [
          "member-mission-controller"
        ],
        "operationId": "participateMission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/lucky-wheel/{id}": {
      "get": {
        "tags": [
          "member-champions-league-lucky-wheel-controller"
        ],
        "operationId": "findChampionsLeagueLuckyWheelById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChampionsLeagueLuckyWheelOutput"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "member-champions-league-lucky-wheel-controller"
        ],
        "operationId": "participateLuckyWheel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChampionsLeagueLuckyWheelItemOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/lottery/{id}": {
      "get": {
        "tags": [
          "member-lottery-controller"
        ],
        "operationId": "findLotteryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryOutput"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "member-lottery-controller"
        ],
        "operationId": "participateLottery",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LotteryParticipateOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/iran-mall-shop/{id}/comment": {
      "post": {
        "tags": [
          "member-iran-mall-shop-controller"
        ],
        "operationId": "leftComment_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/iran-mall-cinema/{id}/purchase": {
      "post": {
        "tags": [
          "member-iran-mall-cinema-controller"
        ],
        "operationId": "ff",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IranMallCinemaTicketPurchaseOutput"
                }
              }
            }
          }
        }
      }
    },
    "/member/iran-card-feature/{id}/comment": {
      "post": {
        "tags": [
          "member-iran-card-feature-controller"
        ],
        "operationId": "leftComment_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/member/insurance/{id}/purchase": {
      "post": {
        "tags": [
          "member-insurance-controller"
        ],
        "operationId": "purchaseTicket_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
[...]
